<!--main content start-->
  <div class="container main_content">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="content-box">
          <div class="content-box-header cops-uniform">
            <div class="logo-hasil pull-left">
              <img src="{$basedomain}assets/img/logo-polda.png" class="img-responsive">
            </div>
            <div class="pull-left header-hasil">
              <table>
                <tr>
                  <td>UJIAN&nbsp;</td>
                  <td>:&nbsp;</td>
                  <td>SIP 2017</td>
                </tr>
                <tr>
                  <td>MATERI&nbsp;</td>
                  <td>:&nbsp;</td>
                  <td> {$materi.nama_master}</td>
                </tr>
              </table>
            </div>
            <div class="pull-right">
              {$nowdate}
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="content-box-body">
            <div class="row">
              <div class="col-xs-7">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td><strong>Nomor Peserta</strong></td>
                      <td>{$user.no_peserta}</td>
                    </tr>
                    <tr>
                      <td><strong>Nama </strong></td>
                      <td>{$user.nama}</td>
                    </tr>
                    <tr>
                      <td><strong>NRP </strong></td>
                      <td>{$user.nrp}</td>
                    </tr>
                    <tr>
                      <td><strong>Lokasi </strong></td>
                      <td>{$user.id_lokasi}</td>
                    </tr>
                    <tr>
                      <td><strong>Ruang </strong></td>
                      <td>{$user.id_ruangan}</td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- END COL-XS-7 -->

              <div class="col-xs-5">
                <div class="content-box text-center">
                  <div class="content-box-header cops-uniform">NILAI</div>
                  <div class="content-box-body"><span style="font-size: 80px;">{$soal.nilai}</span></div>
                </div>
              </div>
            </div><!-- END ROW -->
          </div>

          <div class="content-box-footer text-center">
            SELAMAT ANDA TELAH MENYELESAIKAN UJIAN SIP 2017.
          </div>
        </div>
      </div> <!-- END COL-XS-7 -->
    </div>     
  </div><!-- /MAIN CONTENT --> 
  <!--main content end-->
{literal}
<script type="text/javascript">
  $(document).ready(function(){
    document.cookie="status=3";
  })
</script>
{/literal}