<!--main content start-->
  <div class="container main_content">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="content-box">
          <div class="content-box-header cops-uniform text-center">
            <img src="{$basedomain}assets/img/logo-polda.png" style="width: 50px;">
            <h4>TEST SIP 2016</h4>
          </div>
          <div class="content-box-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">No. Peserta</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="mis. 123/123/123">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Materi</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Nama Materi 1</option>
                    <option>Nama Materi 2</option>
                    <option>Nama Materi 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Lokasi</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Kampus D Depok</option>
                    <option>Kampus E Depok</option>
                    <option>Kampus G Depok</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Ruang</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>D436 LEPKOM</option>
                    <option>D541 IBC</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <!--<button type="submit" class="btn btn-cat">Mulai</button>-->
                  <a href="{$basedomain}soal" class="btn btn-cat">Mulai</a>
                </div>
              </div>
            </form>
          </div>

          <div class="content-box-footer text-center">
            &copy; 2016 - CAT POLDA
          </div>
        </div>
      </div> <!-- END COL-XS-7 -->
    </div>     
  </div><!-- /MAIN CONTENT --> 
  <!--main content end-->