<header class="header">
    <div class="pull-left">
      <a href="{$basedomain}" class="logo">
        <div>TEST SIP 2016 - {$detailujian.nama_master}</div>
        <div class="sublogo">{$user.id_lokasi} - Ruangan {$user.id_ruangan}</div>
      </a>
    </div>
    <div class="pull-right time">
      <span class="mr"><strong>Mulai</strong></span><span class="mr" id="waktu_mulai"> {$user.waktu_mulai}</span> <span class="mr"><strong>Sisa waktu</strong></span> <span id="countdown_div" class="mr">  </span>
      {*}<a href="{$basedomain}ujian/hasil" class="btn btn-cat">Selesai</a>{/*}
      <input type="hidden" value="{$genSoal.durasi_pengerjaan}" id="minute_ujian">
      <input type="hidden" value="{$genSoal.tambahan_waktu}" id="tambahan_minute">
      <input type="hidden" value="{$status}" id="status">
      <input type="hidden" value="{$ujian.lama_ujian}" id="lama_ujian">
    </div>
    <div class="clearfix"></div>
</header>

<!--main content start-->
  <div class="container main_content">
    <div class="row">
      <div class="col-xs-7">
        <div class="content-box">
          <div class="content-box-header retro-red">
            <div class="pull-left">LIST SOAL ({$ujian.lama_ujian} Menit)</div>
            <div class="pull-right">PAKET {$paket.paket}</div>
            <div class="clearfix"></div>
          </div>
          <div class="content-box-body" id="showEvents" style="display:none">
            <table id = "dttable" class="table table-bordered">
              <thead>
                <tr>
                  <td>No.</td>
                  <td>Pertanyaan</td>
                  <td>Jawaban</td>
                  <td>Pilih</td>
                </tr>
              </thead>
              <tbody>
              {foreach $soal as $key => $val}
                <tr>
                  <td class="text-center">{$key+1}</td>
                  <td>{$val.soal}</td>
                  <td class="text-center"><span id="jwb_{$val.id_soal}">{if empty($val.opt)}{else}{$val.opt}{/if}</span></td>
                  <td class="text-center"><a href="#" id="tombol_{$val.id_soal}" onclick="return switchDiv({$key+1},'{$val.opt}',{$val.id_soal})" class="btn btn-xs btn-cat">{if empty($val.opt)}Pilih{else}Ubah{/if}</a></td>
                </tr>
              {/foreach}
              </tbody>
            </table>
          </div>
          <div class="content-box-body" id="waitEvents">
            <center><span class="mr">Menunggu Ujian Mulai</span></center>
          </div>
        </div>
      </div> <!-- END COL-XS-7 -->

      <div class="col-xs-5">
        <div class="content-box">
          <div class="content-box-header dark-green">
            <div class="pull-left">DATA PESERTA</div>
            <div class="pull-right">{$user.no_peserta}</div>
            <div class="clearfix"></div>
          </div>
          <div class="content-box-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td><strong>Nama </strong>: {$user.nama}</td>
                  <td class="text-center"><strong>NRP </strong>: {$user.nrp}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="boxsoal">
          <div class="content-box" id="quiz">
            <div class="content-box-header retro-blue">
              <div class="pull-left">SOAL TERPILIH</div>
              <div class="pull-right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="content-box-body">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td><strong>Kisi - Kisi</strong></td>
                    <td> - </td>
                  </tr>
                  <tr>
                    <td><strong>Pertanyaan</strong></td>
                    <td> - </td>
                  </tr>
                  <tr>
                    <td><strong>Jawaban</strong></td>
                    <td>
                      
                    </td>
                  </tr>
                  {*}<tr>
                    <td colspan="2" class="text-center"><a href="<?php echo $base_url;?>mulai-3.php" class="btn btn-cat">Simpan</a></td>
                  </tr>{/*}
                </tbody>
              </table>
            </div>
          </div>

          {foreach $soal as $key => $val}
           <div class="content-box soal-box" id="soal_{$key+1}" style="display:none">
              <div class="content-box-header retro-blue">
                <div class="pull-left">SOAL TERPILIH</div>
                <div class="pull-right">No. {$key+1}</div>
                <div class="clearfix"></div>
              </div>
              <div class="content-box-body">
                <table class="table table-bordered">
                  <!-- <tbody> -->
                    <tr>
                      <td><strong>Kisi - Kisi</strong></td>
                      <td> {$val.kisi} </td>
                    </tr>
                    <tr>
                      <td><strong>Pertanyaan</strong></td>
                      <td> {$val.soal} </td>
                    </tr>
                    <tr>
                      <td><strong>Jawaban</strong></td>
                      <td>
                        {foreach $val.pilihan as $vals}
                          <div class="radio">
                            <label>
                              <input type="radio" class="radio-button" name="jawaban_{$val.id_soal}" onclick="return getAnws({$val.id_soal},{$val.id_kategori},{$ujian.id_ujian})" id="{$val.id_soal}_{$vals.opt}" value="{$vals.full}"/>
                              {$vals.full}
                            </label>
                          </div>
                        {/foreach}
                      </td>
                    </tr>
                    {*}<tr>
                      <td colspan="2" class="text-center"><a href="<?php echo $base_url;?>mulai-3.php" class="btn btn-cat">Simpan</a></td>
                    </tr>{/*}
                  <!-- </tbody> -->
                </table>
              </div>
            </div>
          {/foreach}


        </div>
      </div> <!-- END COL-XS-5 -->
    </div>     
  </div><!-- /MAIN CONTENT --> 
  <!--main content end-->


<footer class="site-footer">
  <div class="text-center">
      &copy; 2016 - CAT POLDA
      <a href="#" class="go-top">
          <i class="fa fa-angle-up"></i>
      </a>
  </div>
</footer>

<div id="background">
  
</div>

{literal}
<script>
if(typeof(EventSource) !== "undefined") {
    var status = $("#status").val();
    var source = new EventSource(basedomain+"ujian/static_event/?id="+status);
    source.onmessage = function(event) {
        // console.log(event.data);
        if(event.data != 1){
          starttime(event.data);
          document.getElementById("waktu_mulai").innerHTML = event.data;
          document.cookie="idgen="+status;
          $("#showEvents").show();
          $("#waitEvents").hide();
        }
    };
} else {
    alert("Sorry, your browser does not support server-sent events...");
}

function switchDiv(item,opt,id)
{
  $("#quiz").empty();
  $("div.soal-box").hide();
  $("#soal_"+item).toggle();

  if(opt){
    $("#"+id+"_"+opt).attr('checked', true);
    $('.radio').css('background-color','transparent');
    $("#"+id+"_"+opt).parents('.radio').css('background-color','#DFF0D8');
  }

  var jwb = $("#jwb_"+id).html();
  // alert(jwb);
  $("#"+id+"_"+jwb).attr('checked', 'checked');
  $('.radio').css('background-color','transparent');
  $("#"+id+"_"+jwb).parents('.radio').css('background-color','#DFF0D8');
  
}

function getAnws(idsoal,idKategori,idUjian)
{
  var jwb = $("input[name=jawaban_"+idsoal+"]:checked").val();

  $.post(basedomain+'ujian/ajaxaddJwb', {idsoal:idsoal, jwb:jwb, idKategori:idKategori, idUjian:idUjian}, function(data){
    
    var opt = jwb.split(". ");
    $("#jwb_"+idsoal).html(opt[0]);
    $("#tombol_"+idsoal).html('Ubah');

  },"JSON")
}



function delete_cookie(name)
{
  document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}

  function starttime(time){
    var dateString = time;
    var reggie = /(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/;
    var dateArray = reggie.exec(dateString); 
    var dateObject = new Date(
        (+dateArray[1]),
        (+dateArray[2])-1, // Careful, month starts at 0!
        (+dateArray[3]),
        (+dateArray[4]),
        (+dateArray[5]),
        (+dateArray[6])
    );
    var minute = parseInt(document.getElementById("lama_ujian").value);
    var extra = parseInt(document.getElementById("tambahan_minute").value);
    dateObject.setMinutes(dateObject.getMinutes() + minute + extra);
    $('#countdown_div').countdown({until: dateObject,compact: true,layout: '<b> {hnn}{sep}{mnn}{sep}{snn}</b>',expiryUrl: basedomain+'ujian/hasil'});
  }

  $(document).ready(function(){
    // var dateString = "2016-01-24 00:36:01";
    // var reggie = /(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/;
    // var dateArray = reggie.exec(dateString); 
    // var dateObject = new Date(
    //     (+dateArray[1]),
    //     (+dateArray[2])-1, // Careful, month starts at 0!
    //     (+dateArray[3]),
    //     (+dateArray[4]),
    //     (+dateArray[5]),
    //     (+dateArray[6])
    // );
    // dateObject.setMinutes(dateObject.getMinutes() + 5);
    // alert(dateObject);
    // $('#countdown_div').countdown({until: dateObject,compact: true,layout: '<b> {hnn}{sep}{mnn}{sep}{snn}</b>',expiryUrl: 'http://jquery.com'});
    document.cookie="idgen="+status;
  })

</script>
{/literal}