

<!--JAVASCRIPT-->
	<!--=================================================-->
	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="{$basedomain}js/nifty.min.js"></script>

	<!-- CanvasBG Plugin(creates mousehover effect) -->
  	<script src="{$basedomain}plugins/canvasbg/canvasbg.js"></script>

	<!--Demo script [ DEMONSTRATION ]-->
	<script src="{$basedomain}js/demo/nifty-demo.min.js"></script>

	<!--DataTables Sample [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/tables-datatables.js"></script>

	<!-- BS Dual Listbox Plugin -->
  	<script src="{$basedomain}plugins/duallistbox/jquery.bootstrap-duallistbox.min.js"></script>

	<!--Summernote [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/summernote/summernote.min.js"></script>

	<!--Form Component [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/form-component.js"></script>
	
	<!--FooTable [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/fooTable/dist/footable.all.min.js"></script>
	
	<!--Bootbox Modals [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootbox/bootbox.min.js"></script>
	<!--highcharts.com-->
	<script src="{$basedomain}js/highcharts/highcharts.js"></script>
	<script src="{$basedomain}js/highcharts/modules/exporting.js"></script>

