<header class="header">
    <div class="pull-left">
    	<a href="{$basedomain}" class="logo">
    		<div>TEST SIP 2016 - NAMA MATERI TERPILIH</div>
    		<div class="sublogo">Kampus D Depok - Ruangan D436 LEPKOM</div>
    	</a>
    </div>
    <div class="pull-right time">
    	<span class="mr"><strong>Mulai</strong> 15 Januari 2016 20:30:58</span> <span class="mr"><strong>Sisa waktu</strong> 1 Jam 29 Menit 45 Detik</span>
    	<a href="{$basedomain}hasil.php" class="btn btn-cat">Selesai</a>
    </div>
    <div class="clearfix"></div>
</header>