<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Dashboard</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li class="active">Dashboard</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<div id="page-content">
	<div class="row">
		<div class="col-sm-4 col-lg-4">
					
			<!--Tile with progress bar (Comments)-->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="panel panel-mint panel-colorful">
				<div class="pad-all media">
					<div class="media-left">
						<span class="icon-wrap icon-wrap-xs">
							<i class="fa fa-archive fa-3x"></i>
						</span>
					</div>
					<div class="media-body">
						<p class="h3 text-thin media-heading">5</p>
						<small class="text-uppercase">projects</small>
					</div>
				</div>

				<div class="progress progress-xs progress-dark-base mar-no">
					<div role="progressbar" aria-valuenow="45.9" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-light" style="width: 45.9%"></div>
				</div>

				<div class="pad-all text-right">
					<small><span class="text-semibold"><i class="fa fa-unlock-alt fa-fw"></i> 312</span> Ongoing project</small>
				</div>
			</div>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!--End Tile with progress bar (Comments)-->

		</div>

		<div class="col-sm-4 col-lg-4">
					
			<!--Tile with progress bar (New Orders)-->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="panel panel-purple panel-colorful">
				<div class="pad-all media">
					<div class="media-left">
						<span class="icon-wrap icon-wrap-xs">
							<i class="fa fa-users fa-fw fa-3x"></i>
						</span>
					</div>
					<div class="media-body">
						<p class="h3 text-thin media-heading">5,345</p>
						<small class="text-uppercase">Users</small>
					</div>
				</div>

				<div class="progress progress-xs progress-dark-base mar-no">
					<div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-light" style="width: 75%"></div>
				</div>

				<div class="pad-all text-right">
					<small><span class="text-semibold"><i class="fa fa-shopping-cart fa-fw"></i> 954</span> New users</small>
				</div>
			</div>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!--Tile with progress bar (New Orders)-->

		</div>

		<div class="col-sm-4 col-lg-4">
					
			<!--Tile with progress bar (New Orders)-->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="panel panel-primary panel-colorful">
				<div class="pad-all media">
					<div class="media-left">
						<span class="icon-wrap icon-wrap-xs">
							<i class="fa fa-calendar-o fa-fw fa-3x"></i>
						</span>
					</div>
					<div class="media-body">
						<p class="h3 text-thin media-heading">13</p>
						<small class="text-uppercase">New Tasks</small>
					</div>
				</div>

				<div class="progress progress-xs progress-dark-base mar-no">
					<div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-light" style="width: 75%"></div>
				</div>

				<div class="pad-all text-right">
					<small><span class="text-semibold"><i class="fa fa-shopping-cart fa-fw"></i> 954</span> Ongoing task</small>
				</div>
			</div>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!--Tile with progress bar (New Orders)-->

		</div>
	</div>
</div>

{literal}
<script type="text/javascript">

$(document).ready(function() {
		
})	
</script>	
{/literal}